#block-aboutus {
  background: #515f67;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #fff;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;

    &:after {
      width: 45px;
      height: 2px;
      background: #fff;
      display: block;
      position: absolute;
      bottom: -10px;
      content: ' ';
    }
  }

  a {
    color: #fff;
  }

  .field--name-field-block-link {
    a {
      border: 2px solid #fff;
      padding: 15px 30px;
      display: inline-block;
      text-transform: uppercase;

      &:hover {
        color: $blue;
        border: 2px solid $blue;
        text-decoration: none;
      }
    }
  }

  p {
    margin-bottom: 30px;
  }
}