#block-services {
  background: #4bcaff;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;

    &:after {
      width: 45px;
      height: 2px;
      background: #fff;
      display: block;
      position: absolute;
      bottom: -10px;
      content: ' ';
    }
  }

  .field--name-field-paragraph-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .field--name-field-paragraph-description {
    font-size: 12px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
}
