// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min})";
$normal:  "screen and (min-width: #{$screen-md-min})";
$wide:    "screen and (min-width: #{$screen-lg-min})";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@import '../fonts/font-awesome/css/font-awesome.min.css';

// Components
@import 'component/header';
@import 'component/main_styles';

// Blocks
@import 'blocks/about_us';
@import 'blocks/background_frontpage';
@import 'blocks/portfolio';
@import 'blocks/search';
@import 'blocks/services';
@import 'blocks/twitter_block';
@import 'blocks/who_is_john_doe';

// Pages
@import 'pages/frontpage';